// Variables
 $black: black;
 $gray-d: #333;
 $gray-m: #aaa;
 $gray-s: #EBECED;
 $gray-l: #f6f6f6;
 $main-color: #10CAB7;
 $second-color: #2c4755;
 $padding-xl: 3.5rem;
 $padding-l: 1.25rem;
 $padding-s: 0.8rem;
//* Start Global Rules
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    // max-width: 1200px; if using Media Queries
    width: clamp(250px, 85%, 1200px);
    margin: 0 auto;
}
// Sass Functions
@mixin flex-center(){
    display: flex;
    align-items: center;
    justify-content: center;
}
//* End Global Rules
header {
    padding: $padding-l;
    .container {
        @include flex-center();
        justify-content: space-between;
        .logo {
            height: 24px;
            cursor: pointer;
        }
        nav {
            position: relative;
            
            .burger {
                width: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                span {
                    width: 100%;
                    height: 2px;
                    background-color: $black;
                    border-radius: 10px;
                }
                span:nth-child(2) {
                    width: 60%;
                    margin-top: 7px;
                    margin-bottom: 7px;
                    transition: width 500ms;
                }
            }
            &:hover span:nth-child(2){
                width: 100%;
            }

            .links-wrapper {
                position: absolute;
                display: none;
                top: 115%;
                right: 0;
                li {
                    width: 10rem;
                    list-style: none;
                    background-color:  $gray-l;
                    padding: $padding-s;
                    cursor: pointer;
                    transition: all 500ms;
                    a {
                        color: $gray-d;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                }
                li:hover {
                    // padding-left: $padding-l;
                    padding-left: 1.25rem;
                }
                li:not(:last-child) {
                    border-bottom: 1px solid  $gray-m;
                }
                &::after {
                    content: "";
                    position: absolute;
                    border: 12px solid transparent;
                    border-bottom-color:  $gray-l;
                    top: -24px;
                    right: 6px;
                }
            }
            &:hover .links-wrapper {
                display: block;
            }
        }
    }
    border-bottom: 2px solid $main-color;
}
section:nth-child(2n+1) { // section[1,3,5] 
    background-color: $gray-l;
}
section {
    padding: $padding-xl 0;
    text-align: center;
    h2 {
        font: {
            size: 6rem;
            weight: 800;
        }
        color: $gray-s;
        margin-top: 0;
        margin-bottom: -30px;
    }
    p {
        font-size: 1.25rem;
        color:$gray-m;
        margin: 0;        
    }
}
#landing {
    width: 100%;
    height: calc(100vh - 66px);
    // background-color: $gray-l;
    // background-image: url("../images/landing.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    background: url("../images/landing.jpg") no-repeat center / cover ;
    .container {
        height: 100%;
        @include flex-center();
    }
    .intro {
        width: 23rem;
        text-transform: capitalize;
        text-align: center;
    }
    h1.title {
        font-size: 3rem;
        color: $main-color;
        margin-top: 0;
        margin-bottom: .8rem;
    }
    p.we-are {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: $black;
    }
}
%contnr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
    gap: $padding-xl;
    .card {
        text-align: center;
        padding: $padding-s;
        i {
            color: $main-color;
            font-size: 3em; // I use "em unit" to reduce "font-size" of all elements (inside Service.card) by & line code
        }
        h3 {
            font-size: 1.25em;
            text-transform: capitalize;
            font-weight: 700;
            margin-top: 2rem;
        }
        p {
            font-size: 1.1em;
            font-weight: 400;
            color: $gray-d;
            line-height: 1.8em;
        }
    }
}
#features {
    .container {
        @extend %contnr;
    }
}

#services {
    .container {
        @extend %contnr;
        margin-top: 5rem;
        .col {
            .card {
                @include flex-center();
                align-items: flex-start;
                height: 50%;
                font-size: 85%; // Will affect i,h3,P
                // i {
                //     font-size: 2rem;
                // }
                .serv-desc {
                    text-align: left;
                    margin-left: $padding-l;
                }
                h3 {
                    margin-top: 0;
                }
            }
            .img-wrapper {
                position: relative;
                width: 275px;
                &::after {
                    position: absolute;
                    content: "";
                    background-color: #2c4755;
                    height: 126%;
                    width: 110px;
                    top: -14%;
                    right: -20%;
                    z-index: -1;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}
#portfolio {
    .container {
        @extend %contnr;
        margin-top: 5rem;
        gap: 0.5rem;
        .card {
            text-align: left;
            .pic {
                aspect-ratio: 3/2;
                background-size: cover;
            }
            &:first-child .pic {
                background-image: url(../images/portfolio-1.jpg);
            }
            &:nth-child(2) .pic {
                background-image: url(../images/portfolio-2.jpg);
            }
            &:last-child .pic {
                background-image: url(../images/portfolio-3.jpg);
            }
            .info {
                padding: $padding-s;
                h3 {
                    margin-top: 0;
                }
                p {
                    line-height: 1.5rem;
                }
            }
        }

    }
}
//* Media Queries
// if not using "clamp" propertie in .container
// @media (max-width: 1200px) {
//     .container {
//         max-width: 970px;
//     }
// }
// @media (max-width: 992px) {
//     .container {
//         max-width: 750px;
//     }
// }
// @media (max-width: 768px) {
// }
@media (max-width: 576px) {
    html {
        font-size: 70%;
    }
    .container {
        width: 100%;
    }
    header {
        padding: $padding-s;
    }
    #landing {
        height: calc(100vh - 43px);
    }
}
@media (max-width: 1200px) {
    .col:last-child {
        display: none;
    }
}