//* Variables
@import "variables";

//* Sass Functions
@import "functions";

//* Start Global Rules
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    // max-width: 1200px; if using Media Queries
    width: clamp(250px, 85%, 1200px);
    margin: 0 auto;
}
//* End Global Rules
header.navBar {
    padding: $padding-l;
    .container {
        @include flex-center();
        justify-content: space-between;
        .logo {
            height: 24px;
            cursor: pointer;
        }
        nav {
            position: relative;
            
            .burger {
                width: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                span {
                    width: 100%;
                    height: 2px;
                    background-color: $black;
                    border-radius: 10px;
                }
                span:nth-child(2) {
                    width: 60%;
                    margin-top: 7px;
                    margin-bottom: 7px;
                    transition: width 500ms;
                }
            }
            &:hover span:nth-child(2){
                width: 100%;
            }

            .links-wrapper {
                position: absolute;
                display: none;
                top: 115%;
                right: 0;
                li {
                    width: 10rem;
                    list-style: none;
                    background-color:  $gray-l;
                    padding: $padding-s;
                    cursor: pointer;
                    transition: all 500ms;
                    a {
                        color: $gray-d;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                }
                li:hover {
                    padding-left: $padding-l;
                }
                li:not(:last-child) {
                    border-bottom: 1px solid  $gray-m;
                }
                &::after {
                    content: "";
                    position: absolute;
                    border: 12px solid transparent;
                    border-bottom-color:  $gray-l;
                    top: -24px;
                    right: 6px;
                }
            }
            &:hover .links-wrapper {
                display: block;
            }
        }
    }
    border-bottom: 2px solid $main-color;
}
section:nth-child(2n+1) { // section[1,3,5] 
    background-color: $gray-l;
}
section {
    padding: $padding-xl 0;
    header {
        text-align: center;
        margin-bottom: 3rem;
        h2 {
            font: {
                size: 6rem;
                weight: 800;
            }
            color: $gray-s;
            margin-top: 0;
            margin-bottom: -30px;
        }
        h2 + p { // la parag. qui suit directement le "h2"
            font-size: 1.25rem;
            color:$gray-m;
        }
    }
}
#landing {
    width: 100%;
    height: calc(100vh - 66px);
    // background-color: $gray-l;
    // background-image: url("../images/landing.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    background: url("../images/landing.jpg") no-repeat center / cover ;
    .container {
        height: 100%;
        @include flex-center();
    }
    .intro {
        width: 23rem;
        text-transform: capitalize;
        text-align: center;
    }
    h1.title {
        font-size: 3rem;
        color: $main-color;
        margin-top: 0;
        margin-bottom: .8rem;
    }
    p.we-are {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: $black;
    }
}
#features {
    .container {
        @include contnr(18.5rem)
    }
}

#services {
    .container {
        @include contnr(18.5rem);
        .col {
            .card {
                @include flex-center();
                align-items: flex-start;
                height: 50%;
                font-size: 85%; // Will affect i,h3,P
                // i {
                //     font-size: 2rem;
                // }
                .serv-desc {
                    text-align: left;
                    margin-left: $padding-l;
                }
                h3 {
                    margin-top: 0;
                }
            }
            .img-wrapper {
                @include imgDecor (126%, -14%, 75%, $second-color);
            }
        }
    }
}
#portfolio {
    .container {
        @include contnr(21rem);
        gap: 0.5rem;
        .card {
            text-align: left;
            .pic {
                aspect-ratio: 3/2;
                background-size: cover;
            }
            &:first-child .pic {
                background-image: url(../images/portfolio-1.jpg);
            }
            &:nth-child(2) .pic {
                background-image: url(../images/portfolio-2.jpg);
            }
            &:last-child .pic {
                background-image: url(../images/portfolio-3.jpg);
            }
            .info {
                padding: $padding-l;
                background-color: #fff;
                h3 {
                    margin-top: 0;
                }
                p {
                    line-height: 1.5rem;
                }
            }
        }

    }
}
#about {
    .container {
        @include flex-center();
        gap: 13rem;
        .img-wrapper {
            @include imgDecor (116%,-10%,-8%,$gray-s);
            span, span::before {
                position: absolute;
                content: "";
                background-color: #10CAB7;
                z-index: -1;
            }
            span {
                height: 100%;
                width: 80px;
                top: -10%;
                left: 82%;
                &::before {
                    height: 22%; // of the <span> parent
                    width: 115%;
                    bottom: 0;
                    left: 100%;
                }
            }
        }
        .intro {
            text-align: left;
            p {
                font-size: 1rem;
                line-height: 1.8;
            }
            p:first-child {
                color:black;
                font-weight: 700;
            }
            hr {
                display: inline-block;
                background-color: $main-color;
                width: 50%;
                height: 3px;
                border: none;
                margin-top: 40px;
                margin-bottom: 30px;
            }
        }
    }
}

#contact {
    .container {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
        h4 {
            color: $second-color;
            margin-bottom: 1rem;
        }
        a {
            color: $main-color;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                color: $second-color;
            }
        }
        p {
            font-size: 1.2rem;
            a {
                margin-left: 1rem;
            }
        }
    }
}
footer {
    background-color: $second-color;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 0;
    color: #fff;
    span {
        color: $main-color;
        font-weight: 500;
    }
}

//* Media Queries
@media (max-width: 576px) {
    html {
        font-size: 70%;
    }
    .container {
        width: 95%;
    }
    header {
        padding: $padding-s;
    }
    #landing {
        height: calc(100vh - 43px);
    }
}
@media (max-width: 1200px) {
    #services .col:last-child {
        display: none;
    }
}
@media (max-width: 992px) {
    #about {
        .container {
            flex-direction: column;
            gap: 3rem;
            .img-wrapper::after,
            span {
                display: none;
            }
            .intro {
                text-align: center;
            }
        }
    }
}

// if not using "clamp" propertie in .container
// @media (max-width: 1200px) {
//     .container {
//         max-width: 970px;
//     }
// }
// @media (max-width: 768px) {
// }